font-family: Arial, sans-serif;

body {
      color: var(--tg-theme-text-color);
      background: var(--tg-theme-bg-color);
}

h1 {
  color: var(--tg-theme-text-color);
}

/* Стилизация основного контейнера */
.main {
    width: avto;
    padding: 20px;
    background-color: #2C2C2E;
    border-radius: 10px;
}

/* Добавляем стили для контейнера поля ввода */
.input-container {
    position: relative;
    margin-bottom: 10px;
}

/* Стилизация полей ввода */
input[type=text], input[type=tel] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px; /* Пространство между полями ввода */

    /* Удаление стандартных стилей */
    border: none;

    /* Добавление пользовательских стилей */
    background-color:#3A3A3C;
    color:white;
    border-radius:5px;
}

/* Эффект при наведении для полей ввода */
input[type=text]:hover, input[type=tel]:hover {
   background-color:#48484A;
}

/* Обновляем стили для значка "очистить" */
.clear-field {
    display: none;
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

/* Стилизация кнопки */
button {
   padding:10px;

   /* Удаление стандартных стилей */
   border:none;

   /* Добавление пользовательских стилей */
   background-color:#007AFF;
   color:white;
   border-radius:5px;
}

/* Эффект при наведении для кнопки */
button:hover{
background-color:#0051FF;
}


