.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.header h2 {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.header img {
    border-radius: 50%;
    width: 40px; /* Подстройте размер по необходимости */
    height: auto;
}
